<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>
    <hr>
    <div class="container">
        <h1>Task List</h1>
<form action="/multi-delete" method="post">
    <button class="delete-item" style="margin-bottom: 5px;">Delete selected</button>
    <ul class="task-list">
        <% for(let task=0; task<result.length; task++){ %>
            <li class="task-item">
            <div class="task-title">
                <%= result[task].title %>
            </div>
            <div class="task-description">
              <%= result[task].description %>
            </div>
            <input type="checkbox" name="selected_task" value="<%= result[task]._id %>" />
            <a href="/delete/<%= result[task]._id %>" class="delete-item">Delete</a>
             <a href="/update/<%= result[task]._id %>" class="update-item">Update</a>
            </li>

        <% } %>
    </ul>
  </form>  
    </div>
</body>
</html>